:root {
    --primary-color: #8ade87;
    --bs-primary: var(--primary-color);
    --secundary-color: var(--bs-secondary-bg);
    --third-color: #CCCCCC;
    --primary-background-color: #333333;
    --second-background-color: #000000;

    /* Sobreescritos */
    --bs-btn-hover-bg: var(--primary-color) !important;
    --bs-primary-rgb: var(--primary-color) !important;
}

body {
    font-size: 16px;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    font-family: "Courier New", monospace;
    padding: 1.5%;
}

main {
    background-color: var(--secundary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding: 2%;
    width: 75vw;

}

.header-page {
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

.texto-explicativo {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: auto;
    width: 85%;
}

/* header {
    
} */