<h1 class="text-center">Calculadora Dev</h1>

<h4 class="text-center">Ferramentas para devs usar no seu dia a dia</h4>

<div class="row justify-content-center mx-auto g-3">
    <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-5">Conversor de tempo</h1>
                <p class="card-text text-truncate">
                    Faça conversões de horas para minutos, segundos e número decimal.
                </p>
                <a [routerLink]="['./conversores/conversor-tempo']" class="btn btn-primary btn-sm">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <!-- <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-5">Conversor de Volume</h1>
                <p class="card-text text-truncate">
                    Converta entre unidades de volume como litros, mililitros, galões e mais.
                </p>
                <a [routerLink]="['./conversores/volume']" class="btn btn-primary btn-sm">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title fs-5">Conversor de Peso e Massa</h1>
                <p class="card-text text-truncate">
                    Converta entre unidades de peso como gramas, quilogramas, libras, onças e mais.
                </p>
                <a [routerLink]="['./conversores/peso-massa']" class="btn btn-primary btn-sm">
                    Acessar
                </a>
            </div>
        </div>
    </div> -->

    <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fs-5">
                    Validador de CPF
                </h5>
                <p class="card-text">
                    Verifique se um CPF é válido.
                </p>
                <a [routerLink]="['./validadores/cpf']" class="btn btn-primary btn-sm">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fs-5">
                    Validador de CNPJ
                </h5>
                <p class="card-text">
                    Verifique se um CNPJ é válido.
                </p>
                <a [routerLink]="['./validadores/cnpj']" class="btn btn-primary btn-sm">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fs-5">
                    Gerador de CPF
                </h5>
                <p class="card-text">
                    Gerador de número de CPF.
                </p>
                <a [routerLink]="['./geradores/cpf']" class="btn btn-primary btn-sm">
                    Acessar
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fs-5">
                    Gerador de CNPJ
                </h5>
                <p class="card-text">
                    Gerador de número de CNPJ.
                </p>
                <a [routerLink]="['./geradores/cnpj']" class="btn btn-primary btn-sm">
                    Acessar
                </a>
            </div>
        </div>
    </div>
</div>