<div class="app-container">
    <header>
        <div class="header-container">
            <button class="header-menu-button" (click)="toggleSidebar()">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
            <a class="header-image" href="./">
                <img src="/assets/images/header.svg" alt="">
            </a>
        </div>
    </header>
    <div class="main-container">
        <nav [class]="sidebarStyle">
            <a class="sidebar-header" href="./">
                <img src="/assets/images/header.svg" alt="">
            </a>

            <hr class="sidebar-header-divisor">

            <div class="menu-items">
                <a class="menu-item" routerLink="conversores/conversor-tempo" routerLinkActive="active"
                    (click)="toggleSidebar()">
                    <span>Converter Tempo para Decimal</span>
                </a>

                <hr>

                <a class="menu-item" routerLink="geradores/cpf" routerLinkActive="active" (click)="toggleSidebar()">
                    <span>Gerador de CPF</span>
                </a>
                <a class="menu-item" routerLink="geradores/cnpj" routerLinkActive="active" (click)="toggleSidebar()">
                    <span>Gerador de CNPJ</span>
                </a>

                <hr>

                <a class="menu-item" routerLink="validadores/cpf" routerLinkActive="active" (click)="toggleSidebar()">
                    <span>Validador de CPF</span>
                </a>

                <a class="menu-item" routerLink="validadores/cnpj" routerLinkActive="active" (click)="toggleSidebar()">
                    <span>Validador de CNPJ</span>
                </a>
            </div>
        </nav>

        <main class="main-content">
            <div class="router-outlet-container">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>