<!-- src/converters/components/volume-converter-menu/volume-converter-menu.component.html -->
<div class="menu-items">
    <a class="menu-item" routerLink="/conversores/volume/mililitros-para-litros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Mililitros para Litros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/mililitros-para-centilitro" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Mililitros para Centilitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/mililitros-para-decilitro" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Mililitros para Decilitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/mililitros-para-metro-cubico" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Mililitros para Metro Cúbico</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/mililitros-para-xicara-eua" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Mililitros para Xícara (EUA)</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/mililitros-para-onca-fluida-eua" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Mililitros para Onça Fluída (EUA)</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/mililitros-para-galao-eua" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Mililitros para Galão (EUA)</span>
    </a>

    <hr>

    <a class="menu-item" routerLink="/conversores/volume/litros-para-mililitros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Litros para Mililitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/litros-para-centilitro" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Litros para Centilitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/litros-para-decilitro" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Litros para Decilitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/litros-para-hectolitro" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Litros para Hectolitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/litros-para-metro-cubico" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Litros para Metro Cúbico</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/litros-para-galao-eua" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Litros para Galão (EUA)</span>
    </a>

    <hr>

    <a class="menu-item" routerLink="/conversores/volume/metro-cubico-para-litros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Metro Cúbico para Litros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/metro-cubico-para-mililitros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Metro Cúbico para Mililitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/metro-cubico-para-hectolitro" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Metro Cúbico para Hectolitros</span>
    </a>

    <hr>

    <a class="menu-item" routerLink="/conversores/volume/galao-eua-para-litros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Galão (EUA) para Litros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/xicara-eua-para-mililitros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Xícara (EUA) para Mililitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/onca-fluida-eua-para-mililitros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Onça Fluída (EUA) para Mililitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/onca-fluida-ru-para-mililitros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Onça Fluída (RU) para Mililitros</span>
    </a>

    <a class="menu-item" routerLink="/conversores/volume/colher-cha-ru-para-mililitros" routerLinkActive="active"
        (click)="onToggleSidebar()">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <span>Colher de Chá (RU) para Mililitros</span>
    </a>

    <hr>

    <a class="menu-item menu-back" (click)="onVoltarParaConversores()">
        <span class="material-symbols-outlined">
            arrow_back
        </span>
        <span>Voltar para Conversores</span>
    </a>

    <a class="menu-item menu-home" (click)="onVoltarParaMenuPrincipal()">
        <span class="material-symbols-outlined">
            home
        </span>
        <span>Menu Principal</span>
    </a>
</div>