<div class="app-container">
    <header class="d-md-none">
        <div class="header-container">
            <button class="header-menu-button" (click)="toggleSidebar()">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <a class="header-image" routerLink="/">
                <img src="/assets/images/header.svg" alt="Calculadora Dev">
            </a>
        </div>
    </header>

    <div class="main-container">
        <nav [class]="sidebarStyle">
            <a class="sidebar-header d-none d-md-block" routerLink="/">
                <img src="/assets/images/header.svg" alt="Calculadora Dev">
            </a>

            <hr class="sidebar-header-divisor d-none d-md-block">

            <volume-converter-menu (toggleSidebar)="toggleSidebar()"></volume-converter-menu>
        </nav>

        <main class="main-content">
            <div class="router-outlet-container">
                <router-outlet></router-outlet>
            </div>

            <footer-layout></footer-layout>
        </main>
    </div>
</div>