.btn-outline-secondary {
    --bs-btn-color: white;
    --bs-btn-border-color: var(--bs-border-color);
    --bs-btn-hover-bg: #1a331a;
    --bs-btn-hover-color: #4caf50;
    // --bs-btn-hover-border-color: #4caf50;
    border-left: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.generator-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.generator-form .generator-inputs {
    width: 100%;
}

.generator-options {
    align-self: center;
    display: flex;
    gap: 30px;
    // justify-content: space-evenly;
}

@media(min-width: 400px) {
    .generator-form .generator-inputs {
        width: 60%;
    }
}

@media(min-width: 576px) {
    .generator-form .generator-inputs {
        width: 40%;
    }
}

@media(min-width: 769px) {
    .generator-form .generator-inputs {
        width: 50%;
    }
}

@media(min-width: 1024px) {
    .generator-form .generator-inputs {
        width: 30%;
    }
}

@media(min-width: 1280px) {
    .generator-form .generator-inputs {
        width: 25%;
    }
}

@media(min-width: 1920px) {
    .generator-form .generator-inputs {
        width: 15%;
    }
}