<div class="page-container">
    <nav class="breadcrumbs">
        <ol>
            <li><a routerLink="/">Início</a></li>
            <li><a routerLink="/geradores">Geradores</a></li>
            <li><span>Gerador de CPF</span></li>
        </ol>
    </nav>

    <!-- Título da Subcategoria -->
    <div class="category-header">
        <div class="category-icon">
            <span class="material-symbols-outlined">badge</span>
        </div>
        <div class="category-info">
            <h1>Gerador de CPF</h1>
            <p>Verifique se um número de CPF é válido e aprenda como calcular os dígitos verificadores</p>
        </div>
    </div>

    <section class="category-description">
        <div class="description-content">
            <p>
                CPF é a sigla para Cadastro de Pessoa Física. É um registro obrigatório para todos os brasileiros e
                serve para identificar cada pessoa em um grande banco de dados da Receita Federal. Com ele, é possível
                ser reconhecido em serviços públicos e privados, como bancos, cadastros em lojas, ou declarações de
                imposto de renda. Por isso, o CPF é considerado um dos documentos mais importantes no dia a dia do
                brasileiro.
            </p>
            <!-- <p>
                Os 11 dígitos que compõem a numeração do CPF não representam uma sequência criada ao acaso. Há toda uma
                lógica por trás para detectar fraudes e erros em transações.
            </p>

            <ul>
                <li>Os oito primeiros números representam o a inscrição oficial da pessoa.</li>
                <li>O antepenúltimo número (nono) diz respeito à região fiscal responsável pela criação deste CPF.</li>
                <li>O penúltimo número (décimo) verifica a veracidade dos nove primeiros dígitos.</li>
                <li>O último número é o verificador dos 9 números anteriores a ele.</li>
            </ul> -->

            <!-- <p>
                O nono dígito do CPF ajuda a indicar geograficamente o local de emissão, pois cada dígito corresponde a
                um ou mais estados.
            </p>

            <ol>
                <li>
                    Distrito Federal (DF), Goiás (GO), Mato Grosso do Sul (MS), Mato Grosso (MT) e Tocantins (TO);
                </li>
                <li>Acre (AC), Amazonas (AM), Amapá (AP), Pará (PA), Rondônia (RO) e Roraima (RR);</li>
                <li>Ceará (CE), Maranhão (MA) e Piauí (PI);</li>
                <li>Alagoas (AL), Paraíba (PB), Pernambuco (PE) e Rio Grande do Norte (RN);</li>
                <li>Bahia (BA) e Sergipe (SE);</li>
                <li>Minas Gerais (MG);</li>
                <li>Espírito Santo (ES) e Rio de Janeiro (RJ);</li>
                <li>São Paulo (SP);</li>
                <li>Paraná (PR) e Santa Catarina (SC);</li>
                <li>Rio Grande do Sul (RS);</li>
            </ol> -->
        </div>
    </section>

    <form class="generator-form">
        <div class="generator-inputs">
            <div class="input-group input-group-sm mb-2 ">
                <input type="text" class="form-control text-center" placeholder="000.000.000-00" disabled
                    [value]="cpf" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onClickCopy()">
                    <span class="material-symbols-outlined">
                        content_copy
                    </span>
                </button>
            </div>

            <input type="button" class="btn btn-primary btn-sm w-100" value="Gerar" (click)="onClickGenerate()" />
        </div>

        <div class="generator-options">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rbt-format" id="rbt-naked" [value]="0"
                    [checked]="(masked == 0)" [(ngModel)]="masked">
                <label class="form-check-label" for="rbt-naked">
                    Sem máscara
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="rbt-format" id="rbt-masked" [value]="1"
                    [checked]="(masked == 1)" [(ngModel)]="masked">
                <label class="form-check-label" for="rbt-masked">
                    Com máscara
                </label>
            </div>
        </div>
    </form>

    <section class="category-description">
        <div class="description-content">
            <h4 class="fw-bold text-center mb-3">Como funciona a geração de um CPF?</h4>

            <p>
                A geração de um CPF (Cadastro de Pessoa Física) segue um cálculo simples, mas eficiente, que garante
                que o número criado seja válido conforme as regras da Receita Federal. O CPF é composto por 9 números
                base e 2 dígitos verificadores que servem para validar a sequência.
            </p>

            <p>
                Após gerar os números 111.444.777 aleatóriamente do CPF, a partir desses números o primeiro dígito
                verificador é calculado para garantir que a sequência seja válida.
            </p>
            <explanation-cpf-calculation />
        </div>
    </section>
</div>